@import "./tailwind-theme.css";

@layer base {
  /* RevealUI Theme Base Styles */
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-mist-100);
    --scroll-padding-top: 0;
    scroll-padding-top: var(--scroll-padding-top);
  }

  @variant dark {
    html {
      background-color: var(--color-mist-950);
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }
}

@layer base {
  * {
    border-color: var(--rvui-border);
  }
  body {
    background-color: var(--rvui-surface-0);
    color: var(--rvui-text-0);
  }
}

html {
  opacity: 0;
}

html[data-theme="dark"],
html[data-theme="light"] {
  opacity: initial;
}
