@import "tailwindcss";

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "KarateChop";
  src: url("../assets/fonts/karateChop.ttf");
}
@font-face {
  font-family: "GreatFighter";
  src: url("../assets/fonts/greatFighter.ttf");
}
@font-face {
  font-family: "KeylockFighter";
  src: url("../assets/fonts/keylockFighter.ttf");
}
@font-face {
  font-family: "FightKid";
  src: url("../assets/fonts/fightKid.ttf");
}
@font-face {
  font-family: "PlayBold";
  src: url("../assets/fonts/playBold.ttf");
}
@font-face {
  font-family: "PlayRegular";
  src: url("../assets/fonts/playRegular.ttf");
}
@font-face {
  font-family: "SingleFighter";
  src: url("../assets/fonts/singleFighter.ttf");
} */

/* Apply custom fonts */

.font-singlefighter {
  font-family: "SingleFighter", sans-serif;
}
h1,
.font-kidfighter {
  font-family: "FightKid", sans-serif;
}
h2,
.font-keylockfighter {
  font-family: "KeylockFighter", sans-serif;
}
h3,
.font-playbold {
  font-family: "PlayBold", sans-serif;
}
h4,
.font-karate {
  font-family: "KarateChop", sans-serif;
}
p,
dt,
dd,
.font-playregular {
  font-family: "PlayRegular", sans-serif;
}
div,
a,
.font-greatfighter {
  font-family: "GreatFighter", sans-serif;
  letter-spacing: 0.2em;
}
.font-pressstart {
  font-family: "Press Start 2P", sans-serif;
  letter-spacing: 0.2em;
}

/* Custom animations */
@keyframes squish {
  50% {
    transform: scale(1.4, 0.6);
  }
}

/* Custom shimmer effect */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
}

/* Media query example */
@media not (prefers-reduced-motion) {
  .img-slider-img {
    transition: transform 300ms ease-in-out;
  }
  .img-slider-btn:hover > *,
  .img-slider-btn:focus-visible > * {
    animation: squish 200ms ease-in-out;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  scroll-padding: 10rem;
}

/* 
// Example of using scroll-margin to offset the scroll position using target
:target {
  scroll-margin: 10rem;
  animation: target 1s;
} */

/* For components/Loading.tsx */
@keyframes reveal-shine {
  to {
    background-position-x: -200%;
  }
}
